

.container__back {
    font-size: 1.4rem;
    padding: 20px 0;
    margin-left: 8px;
}

.container__back-link {
    text-decoration: none;
    color: var(--text-color);
}

.header-2 {
    margin-top: 45px;
    border-bottom: 1px solid #eee;
}

.primary {
    color: var(--primary-color);
}

.container__cafe-heading {
    font-size: 3rem;
    color: var(--text-color);
    margin: 38px 0 0 8px;
    font-weight: 400;
    font-family: 'Comforter', cursive;
}

.container__content {
    font-size: 14px;
    line-height: 30px;
    margin: 14px
}

.container__content-parent {
    padding-bottom: 40px;
}
